Repository tatiana-vakhrameeva/python-course: changes, and which pre-commit hooks are due for each by the changed paths.
All: flake8, black, pytest

flake8:
  name: flake8
  entry: poetry run flake8
  language: system

black:
  name: black
  entry: poetry run black
  language: system

pytest:
  name: pytest
  entry: poetry run pytest
  language: system

Update readme
  README.md
Due: none

Remove pytest as unittest will be used
  .gitignore
  .pre-commit-config.yaml
  README.md
  poetry.lock
  poetry_demo/__init__.py
  pyproject.toml
  setup.cfg
  tests/__init__.py
  tests/test_poetry_demo.py
Due: flake8, black, pytest

Add run script, card_ranks function
  README.md
  run
  src/poker.py
Due: flake8, black

Add flush, straight methods
  src/poker.py
Due: flake8, black

Add kind function
  src/poker.py
Due: flake8, black

Add two pair function
  src/poker.py
Due: flake8, black

Add best hand function
  src/poker.py
Due: flake8, black

Add run script
  README.md
  run
Due: none

Clean up comments
  src/poker.py
Due: flake8, black

Add initial analyzer
  .gitignore
  conf/config.json
  run
  src/log_analyzer.py
Due: flake8, black

Use stdout if no log filename
  src/log_analyzer.py
Due: flake8, black

Add merging configs
  src/log_analyzer.py
Due: flake8, black

Add parsing log name
  src/log_analyzer.py
Due: flake8, black

Add create report
  conf/config.json
  src/log_analyzer.py
Due: flake8, black

Add render template
  .gitignore
  conf/config.json
  reports/report-2017.06.30.html
  src/log_analyzer.py
  templates/report.html
Due: flake8, black

Setup tests
  README.md
  src/log_analyzer.py
  tests/__init__.py
  tests/test_log_analyzer.py
Due: flake8, black, pytest

Add tests for get_log_records
  README.md
  src/log_analyzer.py
  tests/test_log_analyzer.py
Due: flake8, black, pytest

Add tests for parce_log_record
  tests/test_log_analyzer.py
Due: flake8, black, pytest

Add tests
  src/log_analyzer.py
  tests/test_log_analyzer.py
Due: flake8, black, pytest

Add ability to pass custom config
  README.md
  run
Due: none

Update readme and fix versions
  .gitignore
  README.md
  conf/config.json
  pyproject.toml
Due: none

Fix linter
  pyproject.toml
  run
Due: none

Lock dependencies
  pyproject.toml
Due: none

Add decorators
  run
  src/deco.py
Due: flake8, black

Update readme
  README.md
  run
Due: none

Create tests.yml
  .github/workflows/tests.yml
Due: flake8, black

Update tests.yml
  .github/workflows/tests.yml
Due: flake8, black

Add tests data
  .gitignore
  .pre-commit-config.yaml
  setup.cfg
  tests/data/logs/nginx-access-ui.log-20180320.gz
  tests/data/logs/nginx-access-ui.log-20180321.gz
Due: flake8, black, pytest

Pass log parser as parameter to get_logs_records
  src/log_analyzer.py
  tests/test_log_analyzer.py
Due: flake8, black, pytest

Make copy of config before merging with file config
  src/log_analyzer.py
Due: flake8, black

HW-2 Add new opcode patch
  hw2/init
  hw2/new_opcode.patch
Due: none

Homework-1/ Poker (#1)
  README.md
  run
  src/poker.py
Due: flake8, black

Fix bracket
  run
Due: none

Homework-1/ Log Analyzer (#2)
  .gitignore
  .pre-commit-config.yaml
  README.md
  conf/config.json
  reports/report-2017.06.30.html
  run
  setup.cfg
  src/log_analyzer.py
  templates/report.html
  tests/__init__.py
  tests/data/logs/nginx-access-ui.log-20180320.gz
  tests/data/logs/nginx-access-ui.log-20180321.gz
  tests/test_log_analyzer.py
Due: flake8, black, pytest

HW-2 Update readme
  README.md
  hw2/init
Due: none

HW-2 Add patch for until loop
  README.md
  hw2/init
  hw2/until.patch
Due: none

HW-2 Update readme
  README.md
Due: none

HW-2 Add increment/decrement
  README.md
  hw2/inc.patch
  hw2/init
Due: none

Path conditions:
  flake8: any of: ^src|tests
  black: any of: ^src|tests
  pytest: any of: ^tests
